.list-topic {
  &__search {
    display: flex;
    gap: 10px;
    max-width: 500px;
    margin: 20px 0;
  }
  .table-topic {
    &__topic {
      cursor: pointer;
    }
    &__topic:hover {
      color: rgb(115, 115, 248);
    }
    &__button {
      display: flex;
      justify-content: space-between;
    }
  }
}
